* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

textarea, jsonarea {
  font-family: monospace;
  width: 100%;
}

.editor {
  overflow: auto;
}
.editor table {
  font-family: monospace;
  border-collapse: collapse;
  width: 100%;
}
.editor table tr td, .editor table tr th {
  min-width: 40px;
  min-height: 40px;
}
.editor table tr td {
  border: 1px solid black;
}
.editor table tr th {
  border-left: 1px solid transparent;
  white-space: nowrap;
}
